---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import wifiImage from '../assets/images/usingWifi.png';
import wifiVendo from '../assets/images/wifiVendo.png';
import wifiGaming from '../assets/images/wifiGaming.png';
import wifiLogin from '../assets/images/login.png';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'src/pages/contact.astro',
        target: '_blank',
        icon: 'tabler:phone-outgoing',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/pisowifi.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      PISO-WIFI<span class="hidden xl:inline"></span>
      <!-- <span class="text-accent dark:text-white highlight"> Astro 5.0</span> + Tailwind CSS -->
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">PISO-WIFI</span> Stay online with our reliable PisoWiFi service! Whether for work, study,
        or entertainment, we provide high-speed internet at an affordable price.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Stay Connected Anytime!</span>Fast, affordable
      PisoWiFi—perfect for work, study, or entertainment. No contracts, just seamless internet anytime!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    id="features"
    tagline="Features"
    title="PISO-WIFI"
    subtitle="Enjoy high-speed internet with minimal downtime, ensuring a smooth online experience for work, study, and entertainment."
    items={[
      {
        title: 'Affordable & Pay-Per-Use',
        description:
          'No contracts or monthly fees! Flexible, budget-friendly rates let users pay only for the time they need.',
        icon: 'tabler:moneybag',
      },
      {
        title: 'Easy Access & User-Friendly',
        description: 'Simply connect, insert coins, and start browsing. No apps or registrations required!',
        icon: 'tabler:clock-bolt',
      },
      {
        title: 'Secure & Private Browsing',
        description: 'Your connection is safe and encrypted, protecting users from potential security risks.',
        icon: 'tabler:lock-access',
      },
      {
        title: 'Perfect for Any Location',
        description:
          'HIdeal for stores, cafés, waiting areas, dorms, and public spaces, offering internet access anytime, anywhere.',
        icon: 'tabler:map-pin',
      },
      // {
      //   title: 'Search Engine Optimization (SEO)',
      //   description:
      //     "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
      //   icon: 'tabler:arrows-right-left',
      // },
      // {
      //   title: 'Open to new ideas and contributions',
      //   description:
      //     'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
      //   icon: 'tabler:bulb',
      // },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="services"
    isReversed
    tagline="SERVICES"
    title="PisoWiFi Connect: Speed Meets Affordability!"
    items={[
      {
        title: 'Pay-per-use internet access for customers.',
      },
      {
        title: 'Different time-based rates (e.g., 10 minutes, 30 minutes, 1 hour).',
      },
      // {
      //   title: 'Cross-browser compatibility',
      //   description:
      //     'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      // },
    ]}
    image={{
      src: wifiImage,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Standard PisoWiFi Internet Access
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Offer PisoWiFi solutions for stores, cafés, and public areas.',
      },
      {
        title: 'Monthly plans for business owners who want to provide internet access to their customers.',
      },
      // {
      //   title: 'Fully responsive design',
      //   description:
      //     "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      // },
      // {
      //   title: 'Integration of media',
      //   description:
      //     'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      // },
    ]}
    image={{
      src: wifiVendo,
      alt: 'Vendo Image',
      // width: 500, // Replace with actual width
      // height: 500 // Replace with actual height,
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Business & Commercial Packages</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>,
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Optimized internet for gaming cafés or mobile streamers.',
      },
      {
        title: 'Special gaming plans for low-latency connections.',
      },
      // {
      //   title: 'Time and resource efficiency',
      //   description:
      //     'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      // },
      // {
      //   title: 'Community support',
      //   description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      // },
    ]}
    image={{
      src: wifiGaming,
      alt: 'Gaming Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Gaming & Streaming Access</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="steps"
    title="Here’s how your customers can easily connect to PisoWiFi:"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Connect to WiFi</span>',
        description: 'Turn on your device’s WiFi and select [Your PisoWiFi Name] from the network list.',
        icon: 'tabler:wifi',
      },
      {
        title: 'Step 2: <span class="font-medium">Open the Login Page</span>',
        description:
          'Once connected, open a browser, and the PisoWiFi portal will appear automatically. If not, go to [your PisoWiFi IP, e.g., 10.0.0.1].',
        icon: 'tabler:login',
      },
      {
        title: 'Step 3: <span class="font-medium">Choose a Time Package</span>',
        description: 'Select your preferred internet duration (e.g., 10 mins, 30 mins, 1 hour).',
        icon: 'tabler:clock-hour-10',
      },
      {
        title: 'Step 3: <span class="font-medium">Insert Coins</span>',
        description: 'Drop the required amount into the coin slot to activate your internet session.',
        icon: 'tabler:currency-peso',
      },
      {
        title: 'Step 3: <span class="font-medium"> Start Browsing!</span>',
        description: 'Enjoy seamless and fast internet for work, study, or entertainment!',
        icon: 'tabler:mood-smile-beam',
      },

      {
        title: 'Need More Time? Simply add more coins before your session ends to extend your connection.',
        icon: 'tabler:clock-hour-1',
      },
    ]}
    image={{
      src: wifiLogin.src,
      alt: 'wifilogin Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="systems"
    title="Systems Offered"
    subtitle=""
    tagline="SYSTEMS"
    items={[
      {
        title: 'LBP (Load Balance PisoWiFi)',
        description: 'A popular PisoWiFi system that helps manage multiple internet connections efficiently.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'JuanFi',
        description: 'Ideal for beginners as it requires minimal technical knowledge.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'PisoFi',
        description: 'Provides custom branding, user tracking, and flexible pricing options.',
        icon: 'flat-color-icons:approval',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us Now',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:phone-outgoing',
      },
    ]}
  >
    <Fragment slot="title">
      <!-- Astro&nbsp;+&nbsp; -->
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">PISO-WIFI</span>
    </Fragment>

    <Fragment slot="subtitle">
      Get Connected Today – Contact Us Now! <br class="hidden md:inline" />
      <!-- Don't
      waste more time! :P -->
    </Fragment>
  </CallToAction>
</Layout>
